---
import Typewriter from 'astro-typewriter';
---

<div class="text-center">
  <Typewriter
    messages={[
      'Simply pragmatic.',
      'Effortlessly efficient.',
      'Code with clarity.',
      'Design with purpose.',
    ]}
  />
</div>
