<div class="text-center flex items-center justify-center min-h-screen">
  <span id="slogan"></span>
</div>

<script>
  import Typed from "typed.js";

  const typed = new Typed("#slogan", {
    strings: ["Simply pragmatic.", "Effortlessly efficient.", "Code with clarity."],
    typeSpeed: 50,
    backSpeed: 25,
    loop: true,
    backDelay: 1000,
  });
</script>
