---
import { Sun, Moon } from '@lucide/astro';
---

<label class="swap swap-rotate">
  <!-- this hidden checkbox controls the state -->
  <input type="checkbox" class="theme-controller" value="light" />
  <!-- sun icon -->
  <Sun class="swap-off" />
  <!-- moon icon -->
  <Moon class="swap-on" />
</label>
