@import '@fontsource/iosevka';
@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    night --prefersdark;
}

body {
  font-family: 'Iosevka', monospace;
}

@keyframes blink {
  50% {
    opacity: 10%;
  }
}

.blink {
  animation: blink 2s step-start infinite;
}
