---
import Hello from '../components/Hello.astro';
import { SignUp } from '../components/SignUp';
import Slogan from '../components/Slogan.astro';
import { Status } from '../components/Status';
import ThemeToggle from '../components/ThemeToggle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex min-h-dvh flex-col">
    <Hello />
    <ThemeToggle />
    <div class="flex flex-1 flex-col items-center justify-center gap-10 text-center">
      <Slogan />
      <SignUp />
      <Status client:visible />
    </div>
  </main>
</Layout>
