---
import Hello from '../components/Hello.astro';
import Slogan from '../components/Slogan.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="p-8">
    <Hello />
  </div>
  <div class="fixed top-8 right-8">
    <ThemeToggle />
  </div>
  <Slogan />
</Layout>
